<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your nickname and password::<br>
        {{form.nickname(size=40)}}<br>
        {% for error in form.errors.nickname %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

        {{form.password(size=40)}}<br>
        {% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

        
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>

</div>
  <ul id="side-nav" class="aside">
    <li>No account yet?<a rel="nofollow" href="{{url_for('sign_up')}}"><br>Register Now</a></li>
    
  </ul>
</div>
{% endblock %}